.header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
}

.header_logo img{
    width: 200px;
    height: auto;
}

.header_nav-list{
    display: flex;
    font-weight: bold;
    margin-top: 20px;
}

.header_nav-item{
    margin-right: 30px;
}

.firstview{
    position: relative;
    width: 100vw;
    height: 50vw;
}

.firstview_txt-group{
    position: absolute;
    top: 5vw;
    left: 10vw;
    z-index: 1;
}

.firstview_main-eng-txt{
    font-family: 'Mansalva', sans-serif;
    font-size: 5vw;
    line-height: 8vw;
    color:brown;
}

.firstview_main-jpn-txt{
    font-size: 2vw;
    font-weight: bold;
    margin-top: 3vw;
    color:brown;
}

.firstview_enphansis-word{
    color:turquoise;
}

.firstview_sub-txt{
    margin-top: 2vw;
    line-height: 2vw;
}

.firstview_img{
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
}

.news{
    position: relative; 
    width: 70vw;
    height: 35vw;
    margin: 0 auto;
}

.news_category{
    font-family: 'Mansalva', sans-serif;
    position: absolute;
    font-size: 2vw;
    left: 10vw;
    color:brown;
}

.news_title{
    position: absolute;
    top: 3vw;
    left: 12vw;
    font-size: 2vw;
}

.news_list{
    position: absolute;
    top: 7vw;
    left: 12vw;
    list-style: none;
}

.news_list-item{
    font-size: 1.2vw;
    line-height: 1.7vw;
}

.news_list-icon{
    color: aliceblue;
    font-size: 1vw;
    width: 200vw;
    height: 150vw;
    border-radius: 30px;
    background:mediumvioletred;
}

.about{
    position: relative;
    width: 100vw;
    height: 30vw;
    margin: 0 auto;
    background:rgb(247, 247, 247);
}

.about_category{
        font-family: 'Mansalva', sans-serif;
        position: absolute;
        font-size: 2vw;
        left: 45vw;
        color: brown;
}

.about_title{
    position: absolute;
    font-size: 2vw;
    top: 3vw;
    left: 34vw;
}

.about_txt{
    position: absolute;
    font-size: 1.2vw;
    top: 10vw;
    left: 15vw;
    line-height: 2vw;
}

.about_img{
    position: absolute;
    top: 10vw;
    right: 17vw;
    width: 25vw;
}

.service{
    position: relative;
    width: 80vw;
    height: 40vw;
    margin: 0 auto;
}

.service_category{
    font-family: 'Mansalva', sans-serif;
        position: absolute;
        font-size: 2vw;
        left: 7vw;
        color: brown;
}

.service_title{
    position: absolute;
    font-size: 2vw;
    top: 3vw;
    left: 10vw;
}

.service_content-grid{
    display: grid;
    grid-template-rows: 30vw 30vw;
    grid-template-columns: 50vw 50vw;
}

.company-summary{
    position: relative;
    width: 70vw;
    height: 40vw;
    margin: 0 auto;
}

.company-summary_category{
    font-family: 'Mansalva', sans-serif;
    position: absolute;
    font-size: 2vw;
    left: 10vw;
    color: brown;
}

.company-summary_title{
    position: absolute;
    font-size: 2vw;
    top: 3vw;
    left: 12vw;
}

.summary{
    position: absolute;
    top: 7vw;
    left: 10vw;
}

.table_title, 
.table_explain{
    border: 1px solid #6e6e6e;
    padding: 1vw;
    padding-right: 10vw;
}

.table_title{
    background: #eaeaea;
}
.table_explain{
    padding-right: 20vw;
}